/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 20px;
  text-align: center;
  background: #000000;
  color: white;
  font-size: 20px;
}

/* Page Content */
.content {padding:20px;}